#fingerprint-overlay {
  z-index: 1000;
  position: fixed;
  bottom: 40px;
  left: 20px;
  width: 54px;
  height: 78px;
  pointer-events: none;
  background: url('fingerprint.png') no-repeat;
  opacity: 0.1;
}
